{
  "openapi": "3.0.1",
  "info": {
    "title": "Posiverse OpenAPI",
    "version": "v1.1.1",
    "description": "# Introduction\nThis is the OpenAPI service for the Posiverse device management platform.  You can \n- manage your Devices, Groups, Settings, Firmwares, Products, Tenants, Users\n- create Tags and associate them with your Devices, Groups or Users.  \n- view all the logs associated with your Devices and Users for auditing purpose.\nPosiverse is provided by Positioning Universal Inc.  You can find out more information about Positiong Universal at the [website](https://www.positioninguniversal.com)\n\n# Pagination\nResults that can result in an array of objects being returned can cause in the result to be paginated.  The 4 related headers are:\n- x-total-count: The total number of objects to be returned.  Always returned.\n- x-page-count: The number of objects returned in current response.  Always returned. If this value equals x-total-count then full result set is contained in response.\n- x-page-start: The offset into the total count of objects the current response starts at (0 based),  Always returned.\n- x-next-page-url: The partial URL of the next page, you need to prepend the server URL used to create original request.  If this header is not present then no more pages exist.\n\n<SecurityDefinitions />\n",
    "contact": {
      "name": "Mark Levey",
      "email": "mark.levey@positioninguniversal.com"
    },
    "license": {
      "name": "GNU AGPLv3",
      "url": "https://www.gnu.org/licenses/agpl.txt"
    },
    "x-logo": {
      "url": "https://cdn.posiverse.com/images/puiLogoOnly.png",
      "altText": "Posiverse logo"
    }
  },
  "servers": [
    {
      "url": "https://openapi-prod.posiverse.com",
      "description": "This is production server URL for interacting with production devices."
    },
    {
      "url": "https://openapi-test.posiverse.com",
      "description": "This is the test server for use when interacting with test/staging devices"
    }
  ],
  "paths": {
    "/commands/{deviceId}": {
      "get": {
        "tags": [
          "Commands"
        ],
        "parameters": [
          {
            "name": "deviceId",
            "description": "UUID of device",
            "schema": {
              "type": "string"
            },
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Command"
                  }
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/Throttled"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "getCommands",
        "summary": "/commands/{deviceId}",
        "description": "Get all commands pending for a device"
      },
      "post": {
        "requestBody": {
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "examples": {
                "RebootCommand": {
                  "value": "reset"
                }
              }
            }
          },
          "required": true
        },
        "tags": [
          "Commands"
        ],
        "parameters": [
          {
            "name": "deviceId",
            "description": "UUID of device",
            "schema": {
              "type": "string"
            },
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/Throttled"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "addCommand",
        "summary": "/commands/{deviceId}",
        "description": "Add a command to a device"
      },
      "delete": {
        "tags": [
          "Commands"
        ],
        "parameters": [
          {
            "name": "deviceId",
            "description": "UUID of device",
            "schema": {
              "type": "string"
            },
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/Throttled"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "deleteCommand",
        "summary": "/commands/{deviceId}",
        "description": "Remove all queued commands for a device"
      }
    },
    "/devices": {
      "description": "",
      "get": {
        "tags": [
          "Devices"
        ],
        "parameters": [
          {
            "name": "full",
            "description": "A parameter that tells system to return full device object rather than a shortened version.\nThe full version of device included JSON objects for settings, settingssynched, properties, scratchpad and the device's full description.\nThis results in a much larger result set so should only be used when strictly necessary.",
            "schema": {
              "type": "boolean"
            },
            "in": "query"
          },
          {
            "name": "groupId",
            "description": "Search for all devices in a specific group using its UUID",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "imei",
            "description": "Search for a device by its IMEI",
            "schema": {
              "type": "string"
            },
            "in": "query"
          },
          {
            "name": "tenantId",
            "description": "If needed specify an alternate tenant by its UUID.  If left out then default tenant for account is used.  User must have permissions for specified tenant.",
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-total-count": {
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "x-page-count": {
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "x-page-start": {
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "x-next-page-url": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Device"
                  }
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/Throttled"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "getDevices",
        "summary": "/devices",
        "description": "Get all devices for user's default tenant unless the tenantId query parameter is specified."
      }
    },
    "/devices/{deviceId}": {
      "get": {
        "tags": [
          "Devices"
        ],
        "parameters": [
          {
            "name": "deviceId",
            "description": "UUID of device",
            "schema": {
              "type": "string"
            },
            "in": "path",
            "required": true
          },
          {
            "name": "full",
            "description": "A parameter that tells system to return full device object rather than a shortened version.\nThe full version of device included JSON objects for settings, settingssynched, properties, scratchpad and the device's full description.",
            "schema": {
              "type": "boolean"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Device",
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/Throttled"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "getDevice",
        "summary": "/devices/{deviceId}",
        "description": "Get a specific Device's data by its UUID"
      },
      "put": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DevicePut"
              }
            }
          },
          "required": true
        },
        "tags": [
          "Devices"
        ],
        "parameters": [
          {
            "name": "deviceId",
            "description": "UUID of device",
            "schema": {
              "type": "string"
            },
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/Throttled"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "modifyDevice",
        "summary": "/devices/{deviceId}",
        "description": "You can change the following device properties:\n1.) group\n2.) name\n3.) description\n4.) external device ID"
      }
    },
    "/firmwares": {
      "get": {
        "tags": [
          "Firmwares"
        ],
        "parameters": [
          {
            "name": "tenantId",
            "description": "If needed specify an alternate tenant by its UUID.  If left out then default tenant for account is used.  User must have permissions for specified tenant.",
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-total-count": {
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "x-page-count": {
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "x-page-start": {
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "x-next-page-url": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Firmware"
                  }
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/Throttled"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "getFirmwares",
        "summary": "/firmwares",
        "description": "List all firmwares for user's default tenant, unless the query parameter tenantId is used to override."
      },
      "parameters": [
        {
          "name": "tenantId",
          "description": "If needed specify an alternate tenant by its UUID.  If left out then default tenant for account is used.  User must have permissions for specified tenant.",
          "schema": {
            "type": "string"
          },
          "in": "query"
        }
      ]
    },
    "/firmwares/{firmwareId}": {
      "get": {
        "tags": [
          "Firmwares"
        ],
        "parameters": [
          {
            "name": "firmwareId",
            "description": "UUID of firmware",
            "schema": {
              "type": "string"
            },
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Firmware",
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/Throttled"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "getFirmware",
        "summary": "/firmwares/{firmwareId}",
        "description": "Get a specific firmware data by its UUID"
      }
    },
    "/groups": {
      "get": {
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "tenantId",
            "description": "If needed specify an alternate tenant by its UUID.  If left out then default tenant for account is used.  User must have permissions for specified tenant.",
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-total-count": {
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "x-page-count": {
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "x-page-start": {
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "x-next-page-url": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Group"
                  }
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/Throttled"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "getGroups",
        "summary": "/groups",
        "description": "Get a list of all devices for current user's default tenant, if tenantId parameter is specified then a specific tenant's groups will be returned."
      }
    },
    "/groups/{groupId}": {
      "get": {
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "groupId",
            "description": "UUID of group",
            "schema": {
              "type": "string"
            },
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group",
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/Throttled"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "getGroup",
        "summary": "/groups/{groupId}",
        "description": "Get a specific group by UUID of group"
      },
      "put": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupPut"
              }
            }
          },
          "required": true
        },
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "groupId",
            "description": "UUID of group",
            "schema": {
              "type": "string"
            },
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/Throttled"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "modifyGroup",
        "summary": "/groups/{groupId}",
        "description": "You can change the following group properties:\n1.) name\n2.) description"
      }
    },
    "/products": {
      "get": {
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "tenantId",
            "description": "If needed specify an alternate tenant by its UUID.  If left out then default tenant for account is used.  User must have permissions for specified tenant.",
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-total-count": {
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "x-page-count": {
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "x-page-start": {
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "x-next-page-url": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Product"
                  }
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/Throttled"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "getProducts",
        "summary": "/products",
        "description": "Get all products for current user's tenant."
      }
    },
    "/products/{productId}": {
      "get": {
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "productId",
            "description": "UUID of product",
            "schema": {
              "type": "string"
            },
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product",
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/Throttled"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "getProduct",
        "summary": "/products/{productId}",
        "description": "Get a specific product by UUID of product"
      }
    },
    "/properties/{deviceId}": {
      "get": {
        "tags": [
          "Devices"
        ],
        "parameters": [
          {
            "name": "deviceId",
            "description": "UUID of device",
            "schema": {
              "type": "string"
            },
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Properties"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/Throttled"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "getProperties",
        "summary": "/properties/{deviceId}",
        "description": "Get a device's properties by a specific device's UUID.  Different firmwares might report different properties."
      }
    },
    "/scratchpads/{deviceId}": {
      "get": {
        "tags": [
          "Devices"
        ],
        "parameters": [
          {
            "name": "deviceId",
            "description": "UUID of device",
            "schema": {
              "type": "string"
            },
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Scratchpad",
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/Throttled"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "getScratchpad",
        "summary": "/scratchpads/{deviceId}",
        "description": "Get a specific device's scratchpad by its UUID.  The scratchpad is used by the device to store data in the cloud.  Each firmware could store different values so there is no standard result json."
      }
    },
    "/settings/{ownerId}": {
      "description": "Settings can be returned for 2 different object types: Device and Group.",
      "get": {
        "tags": [
          "Settings"
        ],
        "parameters": [
          {
            "name": "ownerId",
            "description": "UUID of owner, either group or device",
            "schema": {
              "type": "string"
            },
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Settings",
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/Throttled"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "getSettings",
        "summary": "/settings/{ownerId}"
      },
      "put": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SettingsPut"
              }
            }
          },
          "required": true
        },
        "tags": [
          "Settings"
        ],
        "parameters": [
          {
            "name": "ownerId",
            "description": "UUID of device",
            "schema": {
              "type": "string"
            },
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/Throttled"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "modifySettings",
        "summary": "/settings/{ownerId}",
        "description": "Change the settings for a group or device based upon the UUID specified in ownerId."
      }
    },
    "/settingssynched/{deviceId}": {
      "get": {
        "tags": [
          "Devices"
        ],
        "parameters": [
          {
            "name": "deviceId",
            "description": "UUID of device",
            "schema": {
              "type": "string"
            },
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SettingsSynched",
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/Throttled"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "getSettingsSynched",
        "summary": "/settingssynched/{deviceId}",
        "description": "Get the settings which the device has confirmed it has downloaded.  May be different from the expected settings if the device is offline."
      }
    },
    "/users": {
      "get": {
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "tenantId",
            "description": "If needed specify an alternate tenant by its UUID.  If left out then default tenant for account is used.  User must have permissions for specified tenant.",
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-total-count": {
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "x-page-count": {
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "x-page-start": {
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "x-next-page-url": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/Throttled"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "getUsers",
        "summary": "/users",
        "description": "Get a list of all users for current user's default tenant, if tenantId parameter is specified then a specific tenant's users will be returned."
      }
    },
    "/users/{userId}": {
      "get": {
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "userId",
            "description": "UUID of user",
            "schema": {
              "type": "string"
            },
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User",
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/Throttled"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "getUser",
        "summary": "/users/{userId}",
        "description": "Get a specific user by UUID of user"
      },
      "put": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserPut"
              }
            }
          },
          "required": true
        },
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "userId",
            "description": "UUID of user",
            "schema": {
              "type": "string"
            },
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/Throttled"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "modifyUser",
        "summary": "/users/{userId}",
        "description": "You can change the following user properties:\n1.) name\n2.) description"
      }
    },
    "/virtualconsole/{deviceId}": {
      "description": "User virtual console to dynamically interact with device as if you are connected to its RS-232 console port.  The device must be connected to Posiverse configuration endpoint for virtual console to work.",
      "get": {
        "tags": [
          "VirtualConsole"
        ],
        "parameters": [
          {
            "name": "deviceId",
            "description": "UUID of device",
            "schema": {
              "type": "string"
            },
            "in": "path",
            "required": true
          },
          {
            "name": "lastDate",
            "description": "Date of last received virtual console output, use 0 to get all stored console output",
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ConsoleLine"
                  }
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/Throttled"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "getConsoleOutput",
        "summary": "/virtualconsole/{deviceId}",
        "description": "Get any received console lines from specified lastDate"
      },
      "put": {
        "tags": [
          "VirtualConsole"
        ],
        "parameters": [
          {
            "name": "deviceId",
            "description": "UUID of device",
            "schema": {
              "type": "string"
            },
            "in": "path",
            "required": true
          },
          {
            "name": "command",
            "description": "The actual command string to execute on the device",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/Throttled"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "addCommandToConsole",
        "summary": "/virtualconsole/{deviceId}",
        "description": "Write a command to device virtual console"
      }
    },
    "/tenants": {
      "get": {
        "tags": [
          "Tenants"
        ],
        "responses": {
          "200": {
            "headers": {
              "x-total-count": {
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "x-page-count": {
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "x-page-start": {
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "x-next-page-url": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Tenant"
                  }
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/Throttled"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "getTenants",
        "summary": "/tenants",
        "description": "Get a list of all allowed tenants for current user."
      }
    },
    "/tenants/{tenantId}": {
      "get": {
        "tags": [
          "Tenants"
        ],
        "parameters": [
          {
            "name": "tenantId",
            "description": "UUID of tenant",
            "schema": {
              "type": "string"
            },
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tenant",
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/Throttled"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "getTenant",
        "summary": "/tenants/{tenantId}",
        "description": "Get a specific tenant by UUID of tenant"
      },
      "put": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TenantPut"
              }
            }
          },
          "required": true
        },
        "tags": [
          "Tenants"
        ],
        "parameters": [
          {
            "name": "tenantId",
            "description": "UUID of tenant",
            "schema": {
              "type": "string"
            },
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/Throttled"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "modifyTenant",
        "summary": "/tenants/{tenantId}",
        "description": "You can change the following tenant properties:\n1.) name\n2.) description"
      }
    },
    "/tags": {
      "description": "",
      "get": {
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "name": "tenantId",
            "description": "If needed specify an alternate tenant by its UUID.  If left out then default tenant for account is used.  User must have permissions for specified tenant.",
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-total-count": {
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "x-page-count": {
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "x-page-start": {
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "x-next-page-url": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Tag"
                  }
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/Throttled"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "getTags",
        "summary": "/tags",
        "description": "Get all tags for user's default tenant unless the tenantId query parameter is specified."
      },
      "post": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagPut"
              }
            }
          },
          "required": true
        },
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "name": "tenantId",
            "description": "If needed specify an alternate tenant by its UUID.  If left out then default tenant for account is used.  User must have permissions for specified tenant.",
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tag",
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/Throttled"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "addTag",
        "summary": "/tags",
        "description": "Create a new tag."
      }
    },
    "/tags/{tagId}": {
      "description": "",
      "get": {
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "name": "tagId",
            "description": "UUID of tag",
            "schema": {
              "type": "string"
            },
            "in": "path",
            "required": true
          },
          {
            "name": "tenantId",
            "description": "Specific a tenant by its UUID",
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tag",
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/Throttled"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "getTag",
        "summary": "/tags/{tagId}",
        "description": "Get an existing tag."
      },
      "put": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagPut"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "name": "tagId",
            "description": "UUID of tag",
            "schema": {
              "type": "string"
            },
            "in": "path",
            "required": true
          },
          {
            "name": "tenantId",
            "description": "Specific a tenant by its UUID",
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/Throttled"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "modifyTag",
        "summary": "/tags/{tagId}",
        "description": "Modify the value of an existing tag."
      },
      "delete": {
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "name": "tagId",
            "description": "UUID of tag",
            "schema": {
              "type": "string"
            },
            "in": "path",
            "required": true
          },
          {
            "name": "tenantId",
            "description": "Specific a tenant by its UUID",
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/Throttled"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "deleteTag",
        "summary": "/tags/{tagId}",
        "description": "Delete an existing tag"
      }
    },
    "/tagmaps/{tagId}": {
      "description": "",
      "get": {
        "tags": [
          "TagMaps"
        ],
        "parameters": [
          {
            "name": "tagId",
            "description": "UUID of tag",
            "schema": {
              "type": "string"
            },
            "in": "path",
            "required": true
          },
          {
            "name": "tenantId",
            "description": "If needed specify an alternate tenant by its UUID.  If left out then default tenant for account is used.  User must have permissions for specified tenant.",
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TagMap"
                  }
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/Throttled"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "getTagMaps",
        "summary": "/tagmaps/{tagId}",
        "description": "Get all tagmaps associated with a tag."
      }
    },
    "/tagmaps/{tagId}/{objectId}": {
      "description": "",
      "get": {
        "tags": [
          "TagMaps"
        ],
        "parameters": [
          {
            "name": "tagId",
            "description": "UUID of tag",
            "schema": {
              "type": "string"
            },
            "in": "path",
            "required": true
          },
          {
            "name": "objectId",
            "description": "UUID of tagged object, can be one of Device/User/Group",
            "schema": {
              "type": "string"
            },
            "in": "path",
            "required": true
          },
          {
            "name": "tenantId",
            "description": "If needed specify an alternate tenant by its UUID.  If left out then default tenant for account is used.  User must have permissions for specified tenant.",
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagMap",
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/Throttled"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "getTagMap",
        "summary": "/tagmaps/{tagId}/{objectId}",
        "description": "Modify the value of an existing tagmap."
      },
      "put": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagMapPut"
              }
            }
          },
          "required": true
        },
        "tags": [
          "TagMaps"
        ],
        "parameters": [
          {
            "name": "tagId",
            "description": "UUID of tag",
            "schema": {
              "type": "string"
            },
            "in": "path",
            "required": true
          },
          {
            "name": "objectId",
            "description": "UUID of tagged object, can be one of Device/User/Group",
            "schema": {
              "type": "string"
            },
            "in": "path",
            "required": true
          },
          {
            "name": "tenantId",
            "description": "If needed specify an alternate tenant by its UUID.  If left out then default tenant for account is used.  User must have permissions for specified tenant.",
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagMap",
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/Throttled"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "modifyTagMap",
        "summary": "/tagmaps/{tagId}/{objectId}",
        "description": "Change value associated with existing tag map."
      },
      "post": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagMapPut"
              }
            }
          },
          "required": true
        },
        "tags": [
          "TagMaps"
        ],
        "parameters": [
          {
            "name": "tagId",
            "description": "UUID of tag",
            "schema": {
              "type": "string"
            },
            "in": "path",
            "required": true
          },
          {
            "name": "objectId",
            "description": "UUID of tagged object, can be one of Device/User/Group",
            "schema": {
              "type": "string"
            },
            "in": "path",
            "required": true
          },
          {
            "name": "tenantId",
            "description": "If needed specify an alternate tenant by its UUID.  If left out then default tenant for account is used.  User must have permissions for specified tenant.",
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagMap",
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/Throttled"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "addTagMap",
        "summary": "/tagmaps/{tagId}/{objectId}",
        "description": "Add a new mapping between one of Device/User/Group and an existing Tag"
      },
      "delete": {
        "tags": [
          "TagMaps"
        ],
        "parameters": [
          {
            "name": "tagId",
            "description": "UUID of tag",
            "schema": {
              "type": "string"
            },
            "in": "path",
            "required": true
          },
          {
            "name": "objectId",
            "description": "UUID of tagged object, can be one of Device/User/Group",
            "schema": {
              "type": "string"
            },
            "in": "path",
            "required": true
          },
          {
            "name": "tenantId",
            "description": "If needed specify an alternate tenant by its UUID.  If left out then default tenant for account is used.  User must have permissions for specified tenant.",
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/Throttled"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "deleteTagMap",
        "summary": "/tagmaps/{tagId}/{objectId}",
        "description": "Delete an existing tagmap"
      }
    },
    "/devicelogs": {
      "get": {
        "tags": [
          "Logs"
        ],
        "parameters": [
          {
            "name": "imeis",
            "description": "specify array of IMEIs as strings. Max 1 imei allowed per query. Only one of 'imeis' or 'deviceIds' can be provided.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "in": "query",
            "required": true
          },
          {
            "name": "deviceIds",
            "description": "specify array of deviceIds as UUID strings. Max 1 deviceId allowed per query. Only one of 'imeis' or 'deviceIds' can be provided.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "in": "query",
            "required": true
          },
          {
            "name": "serviceIds",
            "description": "Specify services to include in search. Values allowed are \"config\", \"tel\", \"firmware\", \"ephemeris\", \"certs\", \"open_api\", \"api\", \"conn\"",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "in": "query",
            "required": false
          },
          {
            "name": "actions",
            "description": "specify array of actions as strings",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "in": "query",
            "required": false
          },
          {
            "name": "startMillis",
            "description": "UTC seconds since 1970-01-01 to start search from. Limited to the past 40 days.",
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "required": true
          },
          {
            "name": "endMillis",
            "description": "UTC seconds since 1970-01-01 to end search, if not specified then defaults to current time",
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "andTerms",
            "description": "Specify array of strings that must all be in log for it to be returned",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "in": "query",
            "required": false
          },
          {
            "name": "orTerms",
            "description": "Specify array of strings, one of which must be in log",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "in": "query",
            "required": false
          },
          {
            "name": "limit",
            "description": "Maximum number of database logs to return, defaults to 1000 if not specified.  Cannot return more than 100,000 logs.",
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-total-count": {
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "x-page-count": {
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "x-page-start": {
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "x-next-page-url": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DeviceLog"
                  }
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/Throttled"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "getDeviceLogs",
        "summary": "/devicelogs",
        "description": "Get all device logs associated with a device."
      }
    },
    "/telemetrylogs": {
      "get": {
        "tags": [
          "Logs"
        ],
        "parameters": [
          {
            "name": "imeis",
            "description": "specify array of IMEIs as strings",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "in": "query",
            "required": false
          },
          {
            "name": "startMillis",
            "description": "UTC seconds since 1970-01-01 to start search",
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "required": true
          },
          {
            "name": "endMillis",
            "description": "UTC seconds since 1970-01-01 to end search, if not specified then defaults to current time",
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "limit",
            "description": "Maximum number of database logs to return, defaults to 1000 if not specified.  Cannot return more than 100,000 logs.",
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-total-count": {
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "x-page-count": {
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "x-page-start": {
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "x-next-page-url": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TelemetryLog"
                  }
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/Throttled"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "getTelemetryLogs",
        "summary": "/telemetrylogs",
        "description": "Get all of the telemetry logs for a device if it is reporting to a Posiverse telemetry endpoint."
      }
    },
    "/userlogs": {
      "get": {
        "tags": [
          "Logs"
        ],
        "parameters": [
          {
            "name": "userIds",
            "description": "specify array of userIds as UUID strings",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "in": "query",
            "required": false
          },
          {
            "name": "serviceIds",
            "description": "specify services to include in search. value allowed are \"api\", \"open_api\"",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "in": "query",
            "required": false
          },
          {
            "name": "actions",
            "description": "specify array of actions as strings",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "in": "query",
            "required": false
          },
          {
            "name": "startMillis",
            "description": "UTC millis since 1970-01-01 to start search",
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "required": true
          },
          {
            "name": "endMillis",
            "description": "UTC millis since 1970-01-01 to end search, if not specified then defaults to current time",
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "andTerms",
            "description": "specify array of strings that must all be in log",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "in": "query",
            "required": false
          },
          {
            "name": "orTerms",
            "description": "specify array of strings, one of which must be in log",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "in": "query",
            "required": false
          },
          {
            "name": "limit",
            "description": "Maximum number of database logs to return, defaults to 1000 if not specified.  Cannot return more than 100,000 logs.",
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-total-count": {
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "x-page-count": {
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "x-page-start": {
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "x-next-page-url": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserLog"
                  }
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/Throttled"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "getUserLogs",
        "summary": "/userlogs",
        "description": "Get all the user logs for a specific user UUID given the applied filters"
      }
    }
  },
  "components": {
    "schemas": {
      "Error": {
        "description": "Generic Error message returned from server, used as base class for all error responses",
        "required": [
          "code",
          "message"
        ],
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "Command": {
        "description": "A command that can be queued against a device and will get executed when device is connected to network",
        "type": "object",
        "properties": {
          "id": {
            "description": "Unique UUID for command",
            "type": "string"
          },
          "deviceId": {
            "description": "Parent device UUID",
            "type": "string"
          },
          "command": {
            "description": "Actual command to execute on device",
            "type": "string"
          },
          "createdById": {
            "description": "User who created the command",
            "type": "string"
          },
          "createdDate": {
            "description": "Date the command was created, in UTC millis since 1970-01-01",
            "type": "integer"
          }
        }
      },
      "ConsoleLine": {
        "description": "A command that can be queued against a device and will get executed when device is connected to network",
        "type": "object",
        "properties": {
          "date": {
            "description": "Date the device printed console line in UTC seconds since 1970-01-01",
            "type": "integer"
          },
          "idx": {
            "format": "int64",
            "description": "Unique integer for each command.  Incremented by 1 for each new line.",
            "type": "integer"
          },
          "data": {
            "description": "A line of console text",
            "type": "string"
          }
        }
      },
      "SettingsExtTemp": {
        "title": "Root Type for SettingsExtTemp",
        "description": "",
        "type": "object",
        "properties": {
          "always": {
            "type": "boolean"
          },
          "rptInterval": {
            "format": "int32",
            "type": "integer"
          },
          "collectInterval": {
            "format": "int32",
            "type": "integer"
          }
        }
      },
      "SettingsMotion": {
        "title": "Root Type for SettingsMotion",
        "description": "",
        "type": "object",
        "properties": {
          "stopInterval": {
            "format": "int32",
            "type": "integer"
          },
          "recheckTmSecs": {
            "format": "int32",
            "type": "integer"
          },
          "telemInterval": {
            "format": "int32",
            "type": "integer"
          },
          "interimStopInt": {
            "format": "int32",
            "type": "integer"
          },
          "stopAccelWupThresh": {
            "format": "int32",
            "type": "integer"
          }
        }
      },
      "SettingsOta": {
        "title": "Root Type for SettingsOta",
        "description": "",
        "type": "object",
        "properties": {
          "mainVer": {
            "type": "string"
          },
          "modemVer": {
            "type": "string"
          },
          "bluetoothVer": {
            "type": "string"
          }
        }
      },
      "SettingsTelemetry": {
        "title": "Root Type for SettingsTelemetry",
        "description": "",
        "type": "object",
        "properties": {
          "topic": {
            "type": "string"
          },
          "feature": {
            "format": "int64",
            "type": "integer"
          },
          "mqttUrl": {
            "type": "string"
          },
          "rootCAUrl": {
            "type": "string"
          },
          "reportList": {
            "type": "string"
          },
          "provisionUrl": {
            "type": "string"
          }
        }
      },
      "SettingsData": {
        "title": "Root Type for Settings",
        "description": "",
        "type": "object",
        "properties": {
          "ver": {
            "type": "integer"
          },
          "config": {
            "$ref": "#/components/schemas/SettingsConfig"
          },
          "telemetry": {
            "$ref": "#/components/schemas/SettingsTelemetry"
          },
          "ota": {
            "$ref": "#/components/schemas/SettingsOta"
          },
          "motion": {
            "$ref": "#/components/schemas/SettingsMotion"
          },
          "extTemp": {
            "$ref": "#/components/schemas/SettingsExtTemp"
          },
          "analytics": {
            "$ref": "#/components/schemas/SettingsAnalytics"
          },
          "bluetooth": {
            "$ref": "#/components/schemas/SettingsBluetooth",
            "type": "object"
          },
          "driverBehavior": {
            "$ref": "#/components/schemas/SettingsDriverBehaviour",
            "type": "object"
          }
        }
      },
      "User": {
        "description": "A data record class that contains data for user",
        "type": "object",
        "properties": {
          "id": {
            "description": "UUID of user",
            "type": "string"
          },
          "name": {
            "description": "Short name for user",
            "type": "string"
          },
          "description": {
            "description": "Area to keep notes on user",
            "type": "string"
          },
          "state": {
            "description": "current state one of (\"active\", \"disabled\", \"deleted\")",
            "type": "string"
          },
          "stateStartDate": {
            "format": "int64",
            "description": "The date the user entered its current state, in UTC millis from 1970-01-01",
            "type": "integer"
          },
          "language_id": {
            "description": "Current language assigned to user, one of (\"en\", \"es\") where en = English and es = Spanish",
            "type": "string"
          },
          "units": {
            "description": "Units to display measurement, one of \"us-std\", \"uk-imp\", \"metric\"",
            "type": "string"
          },
          "lastActivityDate": {
            "format": "int64",
            "description": "The last time the user interacted with the system, in UTC millis from 1970-01-01",
            "type": "integer"
          },
          "modifiedDate": {
            "format": "int64",
            "description": "The last time the user was modified, in UTC millis from 1970-01-01",
            "type": "integer"
          },
          "createdDate": {
            "format": "int64",
            "description": "The date user was created, in UTC millis from 1970-01-01",
            "type": "integer"
          }
        }
      },
      "UserLog": {
        "description": "A log record class that contains data from user actions.",
        "type": "object",
        "properties": {
          "userId": {
            "description": "The UUID of the user making the request",
            "type": "string"
          },
          "date": {
            "format": "int64",
            "description": "The date the log was processed on cloud backend, in UTC millis from 1970-01-01",
            "type": "integer"
          },
          "status": {
            "description": "One of \"200 Success\", \"304 Not Modified\",\"400 Bad Request\",\"401 Unauthenticated\",\"403 Forbidden\",\"404 Not Found\",\"429 Too Many Requests\",\"500 Internal Server Error\",\"502 Bad Gateway\"",
            "type": "string"
          },
          "service": {
            "description": "Will be \"open_api\" if user request came through this OpenApi system or \"api\" if the request came from Posiverse UI.",
            "type": "string"
          },
          "action": {
            "description": "A short name for the type of user request",
            "type": "string"
          },
          "databaseId": {
            "description": "A UUID that groups all database changes taken by a specific user action.  For example: changing a group's settings will cause the settings database record for each device in the group to change.  Each of these database records will have the same databaseId that can be looked up with database log search.",
            "type": "string"
          },
          "request": {
            "description": "The incoming JSON object representing the user's request to the system",
            "type": "string"
          },
          "result": {
            "description": "The result of the request from the user in JSON",
            "type": "string"
          },
          "logs": {
            "description": "Specific logs from the handling of the user action",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServerLog"
            }
          }
        }
      },
      "TelemetryLog": {
        "description": "A log record class that contains data from telemetry log request.",
        "type": "object",
        "properties": {
          "imei": {
            "description": "The IMEI of the device",
            "type": "string"
          },
          "date": {
            "format": "int64",
            "description": "The date the log was created on device",
            "type": "integer"
          },
          "serverDate": {
            "format": "int64",
            "description": "The date the log was processed on server",
            "type": "integer"
          },
          "json": {
            "description": "Raw JSON data associated with Log",
            "type": "string"
          }
        }
      },
      "SettingsDriverBehaviour": {
        "title": "Root Type for SettingsDriverBehaviour",
        "description": "",
        "type": "object",
        "properties": {
          "lightImp": {
            "format": "int32",
            "type": "integer"
          }
        }
      },
      "SettingsConfig": {
        "title": "Root Type for SettingsConfig",
        "description": "",
        "type": "object",
        "properties": {
          "feature": {
            "format": "int32",
            "type": "integer"
          },
          "interval": {
            "format": "int32",
            "type": "integer"
          },
          "reportList": {
            "type": "string"
          }
        }
      },
      "SettingsBluetooth": {
        "title": "Root Type for SettingsBluetooth",
        "description": "",
        "type": "object",
        "properties": {
          "scan": {
            "format": "int32",
            "type": "integer"
          },
          "macFilter": {
            "type": "string"
          },
          "nameFilter": {
            "type": "string"
          },
          "beaconFilter": {
            "type": "string"
          },
          "moveInterval": {
            "format": "int32",
            "type": "integer"
          },
          "stopInterval": {
            "format": "int32",
            "type": "integer"
          }
        }
      },
      "SettingsAnalytics": {
        "title": "Root Type for Analytics",
        "description": "",
        "type": "object",
        "properties": {
          "feature": {
            "format": "int32",
            "type": "integer"
          },
          "interval": {
            "format": "int32",
            "type": "integer"
          }
        }
      },
      "Scratchpad": {
        "description": "The data stored on cloud be device to backup critical state information which is needed if flash memory gets completely wiped.",
        "type": "object",
        "properties": {
          "ver": {
            "description": "The current version of the scratchpad,  increases by 1 each time device updates its scratchpad.",
            "type": "integer"
          },
          "totalFuel": {
            "type": "integer"
          },
          "featureCfg": {
            "type": "integer"
          },
          "engineHrsCalc": {
            "format": "double",
            "type": "number"
          },
          "odometerOffset": {
            "type": "integer"
          },
          "engineHrsOffset": {
            "format": "double",
            "type": "number"
          },
          "odometerAllowed": {
            "type": "integer"
          },
          "odometerDerived": {
            "type": "integer"
          },
          "gpsCalculatedOdo": {
            "type": "integer"
          }
        }
      },
      "Device": {
        "description": "A data record class that contains device data.",
        "type": "object",
        "properties": {
          "id": {
            "description": "UUID of device",
            "type": "string"
          },
          "productId": {
            "description": "UUID of product associated with device",
            "type": "string"
          },
          "groupId": {
            "description": "UUID of group associated with device",
            "type": "string"
          },
          "name": {
            "description": "A short name for device",
            "type": "string"
          },
          "description": {
            "description": "Notes about device, only returned when full version of device is requested",
            "type": "string"
          },
          "serial": {
            "description": "The unique identifier for device printed on label attached to device",
            "type": "string"
          },
          "externalDeviceId": {
            "description": "An external Device ID",
            "type": "string"
          },
          "imei": {
            "type": "string"
          },
          "iccid": {
            "type": "string"
          },
          "imsi": {
            "type": "string"
          },
          "checkinDate": {
            "format": "int64",
            "description": "Last date the device checked into Posiverse cloud, in UTC millis since 1970-01-01",
            "type": "integer"
          },
          "propertiesVer": {
            "description": "The current version of the properties",
            "type": "string"
          },
          "propertiesDate": {
            "format": "int64",
            "description": "Last date the device updated its properties, in UTC millis since 1970-01-01",
            "type": "integer"
          },
          "settingsVer": {
            "description": "The current version of the settings",
            "type": "string"
          },
          "settingsDate": {
            "format": "int64",
            "description": "Date expected settings where created, in UTC millis since 1970-01-01",
            "type": "integer"
          },
          "settingsSynchedDate": {
            "format": "int64",
            "description": "Last date device synched its settings, in UTC millis since 1970-01-01",
            "type": "integer"
          },
          "mainFwVer": {
            "description": "Current reported version of Main firmware on device",
            "type": "string"
          },
          "modemFwVer": {
            "description": "Current reported version of Cellular modem firmware on device",
            "type": "string"
          },
          "gpsFwVer": {
            "description": "Current reported version of GPS module firmware on device",
            "type": "string"
          },
          "bluetoothFwVer": {
            "description": "Current reported version of GPS module firmware on device",
            "type": "string"
          },
          "vcmFwVer": {
            "description": "Current reported version of VCM module firmware on device",
            "type": "string"
          },
          "scratchpad": {
            "$ref": "#/components/schemas/Scratchpad",
            "description": "The latest scratchpad reported for a device, only returned when full version of device is requested",
            "type": "object"
          },
          "properties": {
            "$ref": "#/components/schemas/PropertiesData",
            "description": "The expected settings for a device, only returned when full version of device is requested",
            "type": "object"
          },
          "settings": {
            "$ref": "#/components/schemas/SettingsData",
            "description": "The expected settings for a device, only returned when full version of device is requested",
            "type": "object"
          },
          "settingsSynched": {
            "$ref": "#/components/schemas/SettingsData",
            "description": "The actual settings on the device, only returned when full version of device is requested",
            "type": "object"
          },
          "modifiedDate": {
            "format": "int64",
            "description": "Date device was last modified, in UTC millis since 1970-01-01",
            "type": "integer"
          },
          "createdDate": {
            "format": "int64",
            "description": "Date device was originally created, in UTC millis since 1970-01-01",
            "type": "integer"
          }
        }
      },
      "DeviceLog": {
        "description": "A data record class that contains information about a device log.",
        "type": "object",
        "properties": {
          "deviceId": {
            "description": "UUID of device",
            "type": "string"
          },
          "date": {
            "format": "int64",
            "description": "The date the log was processed on cloud backend, in UTC millis from 1970-01-01",
            "type": "integer"
          },
          "status": {
            "description": "One of \"200 Success\", \"400 Bad Request\",\"500 Internal Server Error\"",
            "type": "string"
          },
          "imei": {
            "description": "IMEI of device, redundant with UUID but useful since most users work with IMEI to identify device",
            "type": "string"
          },
          "service": {
            "description": "Service represents the originating provider that created the log \"config\", \"tel\", \"firmware\", \"ephemeris\", \"certs\", \"open_api\", \"api\", \"conn\"",
            "type": "string"
          },
          "action": {
            "description": "A short name for the action that caused the log to be created",
            "type": "string"
          },
          "databaseId": {
            "description": "A UUID that groups all database changes taken by a specific device action.  For example: a device that changes its VIN will cause change in device properties and potentially the device's settings and device's field vcmVehicleLibVer.",
            "type": "string"
          },
          "request": {
            "description": "The incoming JSON object representing the request to the system",
            "type": "string"
          },
          "result": {
            "description": "The result of the request in JSON",
            "type": "string"
          },
          "logs": {
            "description": "Specific logs from the handling of the action",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServerLog"
            }
          }
        }
      },
      "Properties": {
        "description": "The configuration information present on the device, and solely controlled by the device, that is shared with the cloud.",
        "type": "object",
        "properties": {
          "ver": {
            "description": "The current version of the properties,  increases by 1 each time device updates its properties.",
            "type": "integer"
          },
          "data": {
            "$ref": "#/components/schemas/PropertiesData"
          },
          "modifiedDate": {
            "description": "Date Settings were last modified, in UTC millis since 1970-01-01.  The Properties were created at the same time as the associated Device.",
            "type": "integer"
          }
        }
      },
      "ServerLog": {
        "description": "Each action processed on Posiverse cloud can generate information server logs.  This is is an instance of a single log.",
        "type": "object",
        "properties": {
          "date": {
            "format": "int64",
            "description": "Date log was created in UTC millis since 1970-01-01",
            "type": "integer"
          },
          "level": {
            "description": "A measure of log severity, one of \"debug\", \"info\", \"warn\", \"error\"",
            "type": "string"
          },
          "msg": {
            "description": "The actual log message",
            "type": "string"
          }
        }
      },
      "SettingsSynched": {
        "description": "The actual settings on a device",
        "type": "object",
        "properties": {
          "version": {
            "format": "int64",
            "description": "The version of the settings that have been synched",
            "type": "integer"
          },
          "data": {
            "$ref": "#/components/schemas/SettingsData",
            "description": "The actual settings synched from device.  There may be a difference between Settings specified for a device and the SettingsSynched if the device has not synched with Posiverse since new Settings were specified."
          },
          "errors": {
            "type": "string"
          },
          "synchDate": {
            "format": "int64",
            "description": "Date the SettingsSynched were last synchronized with device, in UTC millis since 1970-01-01",
            "type": "integer"
          }
        }
      },
      "Settings": {
        "description": "The expected settings data for a device",
        "type": "object",
        "properties": {
          "ver": {
            "format": "int64",
            "description": "Current settings version",
            "type": "integer"
          },
          "data": {
            "$ref": "#/components/schemas/SettingsData",
            "description": "Actual settings specified for a device,  The contents of the SettingsData will vary depending on actual device type and configuration"
          },
          "modifiedDate": {
            "format": "int64",
            "description": "Date the Settings were last modified, in UTC millis since 1970-01-01",
            "type": "integer"
          }
        }
      },
      "Firmware": {
        "description": "A data record class that contains firmware data.",
        "type": "object",
        "properties": {
          "id": {
            "description": "UUID of firmware",
            "type": "string"
          },
          "productId": {
            "description": "UUID of product associated with firmware",
            "type": "string"
          },
          "type": {
            "description": "The type of the firmware, one of \"main\", \"power\", \"watchdog\", \"vcm\", \"modem\", \"bluetooth\", \"cell\", \"camera\", \"wifi\",\"nfc\"",
            "type": "string"
          },
          "version": {
            "description": "The version of the firmware",
            "type": "string"
          },
          "createdDate": {
            "format": "int64",
            "description": "Date firmware was uploaded to Posiverse, in UTC millis since 1970-01-01",
            "type": "integer"
          }
        }
      },
      "Group": {
        "description": "A group is a collection of devices with similar settings",
        "type": "object",
        "properties": {
          "id": {
            "description": "Unique UUID for group",
            "type": "string"
          },
          "productId": {
            "description": "UUID of product assciated with group",
            "type": "string"
          },
          "name": {
            "description": "A short name for group",
            "type": "string"
          },
          "description": {
            "description": "Notes about the group",
            "type": "string"
          },
          "modifiedDate": {
            "description": "Date the group was last modified, in UTC millis since 1970-01-01",
            "type": "integer"
          },
          "createdDate": {
            "description": "Date group was created, in UTC millis since 1970-01-01",
            "type": "integer"
          }
        }
      },
      "Product": {
        "description": "A product is a class of devices that share the same hardware",
        "type": "object",
        "properties": {
          "id": {
            "description": "Unique UUID for product",
            "type": "string"
          },
          "name": {
            "description": "A short name for product",
            "type": "string"
          },
          "description": {
            "description": "Notes about the product",
            "type": "string"
          },
          "modifiedDate": {
            "description": "Date product was last modified, in UTC millis since 1970-01-01",
            "type": "integer"
          },
          "createdDate": {
[...]
